<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184557725634-hd05f8eccjh6n2aijren135mad5uhrcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184557725634-hd05f8eccjh6n2aijren135mad5uhrcb</string>
	<key>API_KEY</key>
	<string>AIzaSyDOxqPYoYHdvdg_RvqtVYN5wSuZ-e_xomQ</string>
	<key>GCM_SENDER_ID</key>
	<string>184557725634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBasics</string>
	<key>PROJECT_ID</key>
	<string>fir-project-7afa6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-7afa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184557725634:ios:a3532c9e6ca646387ad85b</string>
</dict>
</plist>